@media only screen and (max-width: 600px) {
  .full-width {
    padding-left: 0rem;
    transition: none;
  }

  .small-width {
    transition: 0ms !important;
    padding-left: 0 !important;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .full-width {
    padding-left: 5rem;
    transition: 600ms !important;
  }

  .small-width {
    transition: 600ms !important;
    padding-left: 16rem !important;
  }
}