/* .navmenu-container {
    display: flex;
    width: 80%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

}
 */

.Mui-selected,
.MuiSvgIcon-root {
  color: var(--text-primary);
}

.MuiToolbar-root {
  height: 100%;
}
